:root {
  --background: #FFFFFF;
  --accent: #b70fd1;
  --light-dark: #d9a6e0;
  --light: #f1d5f5;
  --black: #111111;
  --dark-gray: #56595E;
  --gray: #96999E;
  --light-gray: #C6C9CE;
}

* {
  font-family: "Quicksand", sans-serif;
  color: var(--black);
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  margin: 0;
}

h1 {
  font-size: initial;
  margin: 0;
}
h2 {
  font-size: initial;
  margin: 0;
}
a {
  color: initial;
  text-decoration: initial;
  cursor: pointer;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #E6E9EE;
}
::-webkit-scrollbar-thumb {
  background-color: #96999E;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #76797E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
